/*IMPORT*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  width: 100%;
  padding-right: 0;
  padding-left: 0; }

/*TITULOS*/
.titulo {
  margin: 3px;
  padding: 8px 3px 3px;
  align-items: center; }

.titulo--custom {
  font-family: "alegreya", serif;
  font-size: 360%;
  text-align: center;
  font-weight: bold;
  color: #434a4f; }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .slider {
    padding: 10rem 7rem; }
  .encabezado {
    padding: 1rem 4rem; }
  .jumbo-tron {
    padding: 10rem 7rem; } }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .jumbo-tron {
    width: 100%;
    height: 20rem;
    padding: 10rem 9rem 8rem; }
  .encabezado {
    padding: 1rem 5rem; }
  .slider {
    margin: 3rem;
    padding: 2rem; } }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }

/*VARIABLES*/
.contenedor-pie {
  font-family: "alegreya", serif;
  font-size: 130%;
  background-color: #80758d5b;
  color: #4E565B;
  width: 100%;
  margin: 2rem 0 1rem; }

.contenedor-pie--titulo {
  font-size: 130%; }

.contenedor-pie--parrafo {
  font-size: 60%; }

.contenedor-pie a {
  text-decoration: none;
  color: #4E565B; }

.contenedor-pie a:hover {
  color: #FBFCFC; }

/*VARIABLES*/
/*TARJETAS*/
.tarjeta {
  width: 98%;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center; }
  @media (max-width: 560px) {
    .tarjeta {
      width: 90%; } }

.tarjeta-1 {
  margin: 1rem;
  width: 18rem;
  height: 28rem;
  padding: 2px;
  font-family: "Alegreya", serif;
  transition: all .2s; }

.tarjeta-2 {
  margin: 1rem;
  width: 18rem;
  height: 28rem;
  padding: 2px;
  font-family: "Alegreya", serif;
  transition: all .2s; }

.tarjeta-3 {
  margin: 1rem;
  width: 18rem;
  height: 28rem;
  padding: 2px;
  font-family: "Alegreya", serif;
  transition: all .2s; }

.tarjeta-4 {
  margin: 1rem;
  width: 18rem;
  height: 28rem;
  padding: 2px;
  font-family: "Alegreya", serif;
  transition: all .2s; }

.tarjeta-individual {
  width: 18rem;
  height: 28rem;
  margin: 1rem;
  padding: 2px;
  font-family: "Alegreya", serif;
  transition: all .2s; }

.tarjeta-individual--volados {
  max-height: 18rem; }

.tarjeta--link a:hover {
  background-color: #4E565B;
  color: #FBFCFC; }

.tarjeta-1:hover {
  background-color: #80758d5b;
  color: #FBFCFC; }

.tarjeta-2:hover {
  background-color: #80758d5b;
  color: #FBFCFC; }

.tarjeta-3:hover {
  background-color: #80758d5b;
  color: #FBFCFC; }

.tarjeta-4:hover {
  background-color: #80758d5b;
  color: #FBFCFC; }

.tarjeta-individual:hover {
  background-color: #80758d5b;
  color: #FBFCFC; }

/*VARIABLES*/
.lavar {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 1100px) {
    .lavar {
      margin: 2px; } }

.lavar__video {
  display: flex;
  order: 2;
  margin: 1rem 0; }
  @media (max-width: 290px) {
    .lavar__video {
      width: 12rem;
      height: 10rem; } }

.lavar__tabla {
  display: flex;
  order: 1;
  margin: 1rem 0; }

table tr th {
  font-family: "Alegreya", serif;
  background-color: #454E565B;
  color: #FBFCFC;
  border: #4E565B solid 1px;
  border-collapse: collapse; }

table td {
  font-family: "Alegreya", serif;
  border: #4E565B solid 1px;
  border-collapse: collapse; }

/*VARIABLES*/
/*FORMULARIO de CONTACTO*/
.contacto-form {
  margin: 1rem 3rem 4rem;
  padding: 2px 1rem;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between; }
  @media (max-width: 360px) {
    .contacto-form {
      margin: 3px 2px;
      padding: 2px;
      font-size: 80%;
      width: 90%; } }
  @media (max-width: 540px) {
    .contacto-form {
      margin: 2rem 1rem; } }
  @media (max-width: 1100px) {
    .contacto-form {
      display: flex;
      justify-content: center;
      width: 60%;
      margin: 1rem 1rem 4rem;
      padding: 1rem 2px; } }
  @media (max-width: 1120px) {
    .contacto-form {
      display: flex;
      width: 100%;
      margin: 1rem 1rem 4rem; } }

.contacto-form__mapa {
  padding: 0;
  margin: 1rem 1rem; }
  @media (max-width: 540px) {
    .contacto-form__mapa {
      width: 90%; } }
  @media (max-width: 1120px) {
    .contacto-form__mapa {
      order: 2; } }

.contacto-form__formulario {
  font-family: "alegreya", serif;
  font-size: 125%;
  background-color: #FBFCFC;
  border-radius: 8px;
  color: #4E565B;
  width: 50%;
  height: 35rem;
  margin: 1rem 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  justify-items: center; }
  @media (max-width: 360px) {
    .contacto-form__formulario {
      width: 100%;
      margin: 1px;
      padding: 7px; } }
  @media (max-width: 540px) {
    .contacto-form__formulario {
      width: 90%;
      height: 80vh;
      margin: 1rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between; } }

.contacto-form__formulario--input {
  display: flex;
  flex-direction: column;
  margin: 9px 0 2px; }
  @media (max-width: 360px) {
    .contacto-form__formulario--input {
      width: 100%;
      margin: 3px 1px;
      padding: 0; } }
  @media (max-width: 540px) {
    .contacto-form__formulario--input {
      width: 90%; } }

.contacto-form__formulario--textarea {
  display: flex;
  flex-direction: column;
  margin: 9px 0 6px; }
  @media (max-width: 540px) {
    .contacto-form__formulario--textarea {
      width: 90%; } }

.formulario-news {
  font-family: "alegreya", serif;
  font-size: 125%;
  width: 90%;
  height: 15rem;
  margin: 3rem;
  background-color: #FBFCFC;
  border-radius: 12px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (max-width: 540px) {
    .formulario-news {
      height: 50vh;
      margin: 1rem;
      display: flex;
      align-items: center;
      justify-content: center; } }

.formulario-news__bloques {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; }

.formulario-news--titulo {
  font-size: 200%;
  color: #2c2f31;
  font-weight: bold;
  padding-bottom: 8px; }

.formulario-news--input {
  font-size: 80%;
  padding: 6px;
  margin: 5px; }

.contacto-form__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2px;
  flex-wrap: wrap; }

.formulario-news--boton {
  background-color: #454E565B;
  border: none;
  transition: all 500ms ease;
  color: #FBFCFC;
  margin: 5px;
  padding: 6px;
  font-size: 100%;
  border-radius: 5px;
  border: #4E565B; }

.formulario-news--boton:hover {
  background-color: #4E565B; }

/*VARIABLES*/
/*NAVBAR DOS*/
.cabeza {
  margin: 2px 2px 6px; }

.encabezado {
  padding: 1rem 5rem;
  font-family: "alegreya", serif;
  background-color: #80758d5b;
  color: #4E565B; }

.encabezado__logo {
  color: #4E565B;
  font-size: 150%;
  font-weight: bold; }

.encabezado__seccion {
  font-size: 120%; }

.encabezado__link {
  justify-items: flex-end; }

/*VARIABLES*/
.jumbo-tron {
  font-family: "Alegreya", serif;
  color: #434a4f;
  margin: 4px 3rem;
  padding: 7rem 2px;
  border-radius: 3px;
  width: 90%;
  height: 35rem;
  display: flex;
  align-content: center;
  align-items: center; }
  @media (max-width: 540px) {
    .jumbo-tron {
      margin: 1rem; } }

.jumbo-tron__caja {
  width: 80rem;
  height: 20rem; }

.jumbo-tron--titulo {
  font-family: "Alegreya", serif;
  font-weight: bold;
  text-align: center; }

.jumbo-tron--btn {
  background-color: #454E565B;
  border: none;
  transition: all 500ms ease; }

.jumbo-tron--link a:hover {
  background-color: #4E565B;
  color: #FBFCFC; }

/*VARIABLES*/
/*ESTILO*/
body {
  margin: 0px;
  background: radial-gradient(#454E565B, #FBFCFC); }
  @media (max-width: 570px) {
    body {
      margin: 1px;
      padding: 1px; } }

.slider {
  margin: 30px 10px; }

.texto {
  margin: 5px 7px 10px; }

.texto__parrafo {
  text-align: center;
  font-family: "alegreya", serif;
  font-size: 120%; }

/*PRODUCTOS*/
.subtitulo {
  font-family: "alegreya", serif;
  font-size: 230%;
  font-weight: bold;
  color: #434a4f; }

.subtitulo--tres {
  font-family: "alegreya", serif;
  font-size: 190%;
  font-weight: bold;
  color: #434a4f; }

/*QUIENES SOMOS*/
/*SECCION NOSOTRAS CON GRID: PRUEBA*/
/*PRUEBA DE SECCION QUIENES SOMOS*/
.nosotras {
  /*MEDIA QUERYS*/
  margin: 3px 2px;
  padding: 2px;
  font-size: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center; }
  @media (min-width: 540px) {
    .nosotras {
      margin: 2rem 1rem; } }
  @media (min-width: 1100px) {
    .nosotras {
      display: flex;
      justify-content: center;
      width: 98%;
      margin: 1rem 1rem 0;
      padding: 1rem 2px;
      font-size: 120%; } }
  @media (min-width: 1120px) {
    .nosotras {
      margin: 3rem 1rem 0;
      padding: 8px;
      width: 98%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
      font-size: 120%; } }

.nosotras__sec {
  width: 90%;
  height: 50%;
  margin: 2rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center; }
  @media (min-width: 1100px) {
    .nosotras__sec {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 98%;
      margin: 1rem;
      padding: 1rem; } }
  @media (min-width: 1120px) {
    .nosotras__sec {
      margin: 1rem;
      padding: 1rem;
      width: 98%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      justify-items: center; } }

.nosotras__sec--subtitulo {
  font-family: "Alegreya", serif;
  color: #434a4f;
  font-weight: bold;
  font-size: 200%; }

.nosotras-cont {
  width: 100%;
  margin: 1rem;
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*MEDIA QUERYS*/ }
  @media (max-width: 360px) {
    .nosotras-cont {
      margin: 3px 2px;
      padding: 2px;
      font-size: 80%;
      width: 90%;
      display: flex;
      flex-direction: column; } }
  @media (min-width: 540px) {
    .nosotras-cont {
      margin: 2rem 1rem; } }
  @media (min-width: 1100px) {
    .nosotras-cont {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      width: 90%;
      margin: 1rem;
      padding: 1rem; } }
  @media (min-width: 1120px) {
    .nosotras-cont {
      display: flex;
      flex-direction: row;
      width: 90%;
      margin: 1rem;
      padding: 1rem; } }

.nosotras-cont__img {
  /*PARA MEDIA QUERY DESKTOPmargin: 3px;
    width: 45%;
    display: flex;*/
  margin: 3px 1px;
  padding: 1px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 540px) {
    .nosotras-cont__img {
      margin: 2rem 1rem; } }
  @media (min-width: 1100px) {
    .nosotras-cont__img {
      display: flex;
      justify-content: center;
      width: 42%;
      margin: 1rem;
      padding: 1rem; } }
  @media (min-width: 1120px) {
    .nosotras-cont__img {
      display: flex;
      width: 43%;
      margin: 1rem; } }

.nosotras-cont__par {
  width: 98%;
  margin: 8px 3px 3px; }
  @media (min-width: 1100px) {
    .nosotras-cont__par {
      display: flex;
      justify-content: center;
      width: 50%;
      margin: 1rem;
      padding: 1rem 2px; } }
  @media (min-width: 1120px) {
    .nosotras-cont__par {
      display: flex;
      width: 50%;
      margin: 1rem; } }

.nosotras-cont__img--img {
  /*DESKTOP max-width: 25rem;
    max-height: 25rem;*/
  margin: 3px 2px;
  padding: 2px;
  width: 13rem;
  height: 13rem; }
  @media (min-width: 350px) {
    .nosotras-cont__img--img {
      width: 17rem;
      height: 17rem; } }
  @media (min-width: 540px) {
    .nosotras-cont__img--img {
      margin: 2rem 1rem; } }
  @media (min-width: 1100px) {
    .nosotras-cont__img--img {
      display: flex;
      justify-content: center;
      width: 18rem;
      height: 18rem;
      margin: 1rem 1rem 4rem;
      padding: 1rem 2px; } }
  @media (min-width: 1120px) {
    .nosotras-cont__img--img {
      display: flex;
      width: 100%;
      margin: 1rem 1rem 4rem; } }

.nosotras-cont__par--par {
  font-family: "alegreya", serif;
  margin: 1px;
  padding: 2px;
  display: flex; }

.mision {
  width: 100%;
  margin: 0;
  padding: 1px;
  border: #80758d5b solid; }
