/*VARIABLES*/
$lila: #454E565B;
$lilita: #80758d5b;
$blanco-fondo:#FBFCFC;
$gris-oscuro: #4E565B;


/*TARJETAS*/
.tarjeta{
    width: 98%;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@for $tarjeta from 1 through 4{
    .tarjeta-#{$tarjeta}{margin: 1rem; width: 18rem; height: 28rem;
        padding: 2px; font-family: "Alegreya", serif; transition: all .2s} 
    };

.tarjeta-individual {
    width: 18rem;
    height: 28rem;
    margin: 1rem;
    padding: 2px;
    font-family: "Alegreya", serif;
    transition: all .2s; }

.tarjeta-individual--volados{
    max-height: 18rem;
}

.tarjeta--link a:hover{
    background-color: $gris-oscuro ;
    color: $blanco-fondo;
}

.tarjeta-1:hover{
    background-color:$lilita;
    color: $blanco-fondo;
}

.tarjeta-2:hover{
    background-color:$lilita;
    color: $blanco-fondo;
}
.tarjeta-3:hover{
    background-color:$lilita;
    color: $blanco-fondo;
}
.tarjeta-4:hover{
    background-color:$lilita;
    color: $blanco-fondo;
}

.tarjeta-individual:hover{
        background-color:$lilita;
        color: $blanco-fondo;
    }   
