/*VARIABLES*/
$lila: #454E565B;
$lilita: #80758d5b;
$blanco-fondo:#FBFCFC;
$gris-oscuro: #4E565B;
$negro: #2c2f31;
$gris: #434a4f;

/*NAVBAR DOS*/

.cabeza{
    margin: 2px 2px 6px;
}

.encabezado{
    padding: 1rem 5rem;
    font-family: "alegreya", serif;
    background-color: $lilita;
    color: $gris-oscuro;
}

.encabezado__logo{
    color: $gris-oscuro;
    font-size: 150%;
    font-weight: bold;
}

.encabezado__seccion{
    font-size: 120%;
}
.encabezado__link{
    justify-items: flex-end;
}
