/*VARIABLES*/
$lila: #454E565B;
$lilita: #80758d5b;
$blanco-fondo:#FBFCFC;
$gris-oscuro: #4E565B;
$negro: #2c2f31;

/*FORMULARIO de CONTACTO*/

.contacto-form{
    margin: 1rem;
    padding: 2px;
    width: 100%;
    display: flex;
    flex-flow: row wrap ;
}


.formulario{
    font-family: "alegreya", serif;
    font-size: 125%;
    background-color: $blanco-fondo;
    color: $gris-oscuro;
    width: 50%;
    height: 35rem;
    margin: 1rem 1rem 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.formulario--btn{
    background-color: $gris-oscuro;
    border: none;
    transition: all 500ms ease;
}

.formulario--btn::selection{
    background-color: $gris-oscuro ;
    color: $blanco-fondo;
}

.formulario-news{
    font-family: "alegreya", serif;
    font-size: 125%;
    width: 90%;
    height: 15rem;
    margin: 3rem;
    @media (max-width: 540px) {
        height: 50vh;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    background-color: $blanco-fondo;
    border-radius: 12px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario-news__bloques{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.formulario-news--titulo{
    font-size: 200%;
    color: $negro;
    font-weight: bold;
    padding-bottom: 8px;
}

.formulario-news--input{
    font-size: 80%;
    padding: 6px;
    margin: 5px;
}

.formulario-news--boton{
    background-color: $lila;
    border: none;
    transition: all 500ms ease;
    color: $blanco-fondo;
    margin: 5px;
    padding: 6px;
    font-size: 100%;
    border-radius: 5px;
    border: $gris-oscuro;
}

.formulario-news--boton:hover{
    background-color: $gris-oscuro;
}