/*VARIABLES*/
$lila: #454E565B;
$lilita: #80758d5b;
$blanco-fondo:#FBFCFC;
$gris-oscuro: #4E565B;
$negro: #2c2f31;
$gris: #434a4f;

.jumbo-tron{
    font-family: "Alegreya", serif;
    color: $gris; 
    margin: 4px 3rem;   
    padding: 7rem 2px;
    border-radius: 3px;
    width: 90%;
    height: 35rem;
    @media (max-width: 540px) {
        margin: 1rem;
    }
    display: flex;
    align-content: center;
    align-items: center;
}

.jumbo-tron__caja{
    width: 80rem;
    height: 20rem;
}

.jumbo-tron--titulo{
    font-family: "Alegreya", serif;
    font-weight: bold;
    text-align: center;
}

.jumbo-tron--btn{
    background-color: $lila;
    border: none;
    transition: all 500ms ease;
}

.jumbo-tron--link a:hover{
    background-color: $gris-oscuro ;
    color: $blanco-fondo;
}

