/*VARIABLES*/
$lila: #454E565B;
$lilita: #80758d5b;
$blanco-fondo:#FBFCFC;
$gris-oscuro: #4E565B;
$negro: #2c2f31;
$gris: #434a4f;

/*TABLA*/
.lavar{
    margin: 1rem;
    padding: 1rem;
    @media (max-width: 1100px){
        margin: 2px;
    }
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lavar__video{
    display: flex;
    order: 2;
    margin: 1rem 0;
}

.lavar__tabla{
    display: flex;
    order: 1;
    margin: 1rem 0;
}

table tr th
{
    font-family: "Alegreya", serif;
    background-color: $lila; 
    color: $blanco-fondo;
    border: $gris-oscuro solid 1px;
    border-collapse: collapse;
}
table td{
    font-family: "Alegreya", serif;
    border: $gris-oscuro solid 1px;
    border-collapse: collapse;
}

/*FIN TABLA*/