/*IMPORT*/
@import "basicos";
@import "responsive";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "footer";
@import "cards";
@import "tables";
@import "formulario-contacto";
@import "encabezado";
@import "jumbotron";


/*VARIABLES*/
$lila: #454E565B;
$lilita: #80758d5b;
$blanco-fondo:#FBFCFC;
$gris: #434a4f;
$gris-oscuro: #4E565B;
$negro: #2c2f31;


/*ESTILO*/
body{
    margin: 0px;
    background: radial-gradient($lila,$blanco-fondo);
    @media (max-width: 570px){
        margin: 1px;
        padding: 1px;
    }
}

.slider{
    margin: 30px 10px;
}

.texto{
    margin: 5px 7px 10px;
}

.texto__parrafo{
    text-align: center;
    font-family: "alegreya", serif;
    font-size: 120%;
    
}


/*PRODUCTOS*/
.subtitulo{
    font-family: "alegreya", serif;
    font-size: 230%;
    font-weight: bold;
    color: $gris;
}
.subtitulo--tres{
    font-family: "alegreya", serif;
    font-size: 190%;
    font-weight: bold;
    color: $gris;
}

/*QUIENES SOMOS*/

.nosotras{
    margin: 3px 2px;
    padding: 2px;
    font-size: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    @media (min-width: 540px){
        margin: 2rem 1rem;
    }
    @media (min-width: 1100px){
        display: flex;
        justify-content: center;
        width: 98%;
        margin: 1rem 1rem 0;
        padding: 1rem 2px;
        font-size: 120%;
    }
    @media (min-width: 1120px){
        margin: 3rem 1rem 0;
        padding: 8px;
        width: 98%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        font-size: 120%;
    }
}

.nosotras__sec{
    width: 90%;
    height: 50%;
    margin: 2rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    @media (min-width: 1100px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 98%;
        margin: 1rem;
        padding: 1rem;
    }
    @media (min-width: 1120px){
        margin: 1rem;
        padding: 1rem;
        width: 98%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}

.nosotras__sec--subtitulo{
    font-family: "Alegreya", serif ;
    color: $gris;
    font-weight: bold;
    font-size: 200%;

}

.nosotras-cont{
    width: 100%;
    margin: 1rem;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*MEDIA QUERYS*/
    @media (max-width: 360px){
        margin: 3px 2px;
        padding: 2px;
        font-size: 80%;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    @media (min-width: 540px){
        margin: 2rem 1rem;
    }
    @media (min-width: 1100px){
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: 90%;
        margin: 1rem;
        padding: 1rem;
    }
    @media (min-width: 1120px){
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 1rem;
        padding: 1rem;
    }

}

.nosotras-cont__img{
    margin: 3px 1px;
    padding: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 540px){
        margin: 2rem 1rem;
    }
    @media (min-width: 1100px){
        display: flex;
        justify-content: center;
        width: 42%;
        margin: 1rem;
        padding: 1rem;
    }
    @media (min-width: 1120px){
        display: flex;
        width: 43%;
        margin: 1rem;
    }
}

.nosotras-cont__par{
    width: 98%;
    margin: 8px 3px 3px;
    @media (min-width: 1100px){
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 1rem;
        padding: 1rem 2px;
    }
    @media (min-width: 1120px){
        display: flex;
        width: 50%;
        margin: 1rem;
    }
}

.nosotras-cont__img--img{
        margin: 3px 2px;
        padding: 2px;
        width: 13rem;
        height: 13rem;
    @media (min-width: 350px){
        width: 17rem;
        height: 17rem;

    }

    @media (min-width: 540px){
        margin: 2rem 1rem;
    }
    @media (min-width: 1100px){
        display: flex;
        justify-content: center;
        width: 18rem;
        height: 18rem;
        margin: 1rem 1rem 4rem;
        padding: 1rem 2px;
    }
    @media (min-width: 1120px){
        width: 18rem;
        height: 18rem;
        display: flex;
        width: 100%;
        margin: 1rem 1rem 4rem;
    }
}

.nosotras-cont__par--par{
    font-family: "alegreya", serif;
    margin: 1px;
    padding: 2px;
    display: flex;
}

.mision{
    width: 100%;
    margin: 0;
    padding: 1px;
    border: $lilita solid;
} 