/*IMPORT*/
@import "basicos";
@import "responsive";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "footer";
@import "cards";
@import "tables";
@import "formulario-contacto";
@import "encabezado";
@import "jumbotron";


/*VARIABLES*/
$lila: #454E565B;
$lilita: #80758d5b;
$blanco-fondo:#FBFCFC;
$gris: #434a4f;
$gris-oscuro: #4E565B;
$negro: #2c2f31;


/*ESTILO*/
body{
    margin: 0px;
    background: radial-gradient($lila,$blanco-fondo);
}

.slider{
    margin: 30px 10px;
}

.texto{
    margin: 5px 7px 10px;
}

.texto__parrafo{
    text-align: center;
    font-family: "alegreya", serif;
    
}


/*PRODUCTOS*/
.subtitulo{
    font-family: "alegreya", serif;
    font-size: 230%;
    font-weight: bold;
    color: $gris;
}
.subtitulo--tres{
    font-family: "alegreya", serif;
    font-size: 190%;
    font-weight: bold;
    color: $gris;
}

/*QUIENES SOMOS*/

/*SECCION NOSOTRAS CON GRID: PRUEBA*/

/*PRUEBA DE SECCION QUIENES SOMOS*/
.nosotras{
    margin: 3rem 1rem 2rem;
    padding: 8px;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.nosotras__sec{
    width: 90%;
    height: 50%;
    margin: 2rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.nosotras-cont{
    width: 100%;
    margin: 1rem;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.nosotras-cont__img{
    margin: 3px;
    width: 45%;
    display: flex;
}

.nosotras-cont__par{
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    align-items: center;
    display: flex;
}

.nosotras-cont__img--img{
    max-width: 25rem;
    max-height: 25rem;
    /*@media (max-width: 480px){
        width: 300px;
        height: 250px;
    };
    @media (min-width: 500px){
    width: 400px;
    height: 300px;
    border-radius: 7px;};
    @media (min-width: 600px){
        width: 500px;
        height: 300px;
        border-radius: 7px;
        margin: 7px;
    };*/
}

.nosotras-cont__par--par{
    font-family: "alegreya", serif;
    margin: 1px;
    padding: 2px;
    display: flex;
}


/*
.nosotras__sec--img-uno{
    @media (max-width: 480px){
        width: 300px;
        height: 250px;
    };
    @media (min-width: 500px){
    width: 400px;
    height: 300px;
    border-radius: 7px;};
    @media (min-width: 600px){
        width: 444px;
        height: 300px;
        border-radius: 7px;
        margin: 7px;
    };
}
*/
.mision{
    width: 100%;
    margin: 0;
    padding: 1px;
    border: $lilita solid;
} 